.panel-body__text
{
  display: flex;  
}

.panel-body__content{
    display: flex;
    flex-direction: column;
}

.form-button{
    background-color: #00acac;  
    border-color: #00acac;
  }

.form-content{
    border-color:#00acac;
}

.form-head{
    background-color: #00acac !important;  
    border-color: #00acac !important;  
}